title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0

[contactform]

[siteSearchInclude]
==
<h2>Contact Page</h2>

This is our awesome contact page
<br>
<br>
<br>
{% component 'contactform' %}