title = "Homepage"
url = "/"
layout = "default"
is_hidden = 0

[actors]
results = 6
sortOrder = "name asc"

[siteSearchInclude]
==
<?php
use Rasyid\Movies\Models\Movie;

    function onStart(){
        $this['movies'] = Movie::take(4)->get(); 
    }
?>
==
<form action="{{ 'search' | page }}" method="get">
    <input name="q" type="text" class="form-control" style="background-color: black; color: #fff; box-shadow: 0px 0px 10px 3px grey; border-radius: 8px;" placeholder="What are you looking for?" autocomplete="off">
    <br>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<hr>
<ul class="movie-list">
    {% for movie in movies %}
        <li>
        <h3>
            <a href="movies/movie/{{movie.slug}}">
                {{ movie.name }} - {{ movie.year }}
            </a>
        </h3>
        <br>
            {{ html_limit(movie.description, 150)|raw }}
        </li>
    {% else %}
        <li class="no-data">No Movie Found</li>
    {% endfor %}
</ul>

<div>
    {{movies.render|raw}}
</div>
<hr>
<h1>This is our homepage! Yay!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis aliquam, ea facere reiciendis eos velit commodi deserunt obcaecati, dicta odio doloribus veritatis, aliquid optio maiores quibusdam ut hic molestias. Debitis.</p>
<p>Dolores eos totam a optio deleniti dignissimos ducimus distinctio explicabo sequi repudiandae, error ea! Officiis totam alias, tempora perferendis commodi quia consectetur reprehenderit nam excepturi dolorum minus a dolor sunt.</p>
<p>Voluptas dolor error saepe vitae illum, modi sequi obcaecati pariatur eligendi optio commodi ipsum porro inventore cumque sint quis adipisci? Laborum ex distinctio sapiente possimus aliquam dolore delectus, facere iusto.</p>
<p>Odio enim maxime deserunt earum ab minima, id voluptas cum soluta eaque suscipit sapiente, rem accusantium! Ducimus, officiis commodi? Architecto necessitatibus autem rerum! Fugiat, maiores at recusandae provident voluptatibus assumenda?</p>
<p>Numquam nemo, sequi debitis doloribus iusto cum architecto laudantium, nisi tempore ducimus sapiente. Itaque, nemo. Obcaecati nisi, optio minus voluptatibus, facere quasi, sint quo natus eveniet laudantium fuga nihil quam.</p>
<p>Repellat fugiat vitae corrupti natus quaerat esse voluptas, quasi architecto amet, sunt eligendi iste optio perspiciatis ut at unde placeat provident omnis, itaque dolor. Debitis laudantium officiis eos minima inventore!</p>
<p>Sit laboriosam et dolorum. Natus earum mollitia ipsam dolores, fugiat consectetur aut tempora temporibus ex rem et voluptates doloremque illo debitis ab tempore, voluptas optio incidunt enim vitae. Quod, obcaecati?</p>
<p>Quod tempora corporis error obcaecati, sint officia molestiae voluptate fuga illo soluta, cum commodi cumque alias. Veritatis doloribus tempora consequuntur rem consequatur saepe ratione reiciendis iusto. Obcaecati sunt libero ullam?</p>
<p>Quaerat quisquam qui commodi reprehenderit, ad ea quia molestias, natus impedit exercitationem nostrum? Eos, officia ipsa debitis nostrum voluptates quae corrupti praesentium, dignissimos mollitia voluptatem amet consectetur similique ea sed!</p>
<p>Quasi nihil vitae numquam dicta deserunt commodi placeat atque exercitationem sed a. Officia illum repudiandae molestiae, voluptas tenetur distinctio. Facilis labore nesciunt fugit vel dolorem consequuntur molestias hic dignissimos necessitatibus?</p>

{% set actors = actors.actors %}

<ul>
    {% for actor in actors %}
        <li>{{actor.name}} {{actor.lastname}}</li>
    {% endfor %}
</ul>