title = "Movie single"
url = "/movies/movie/:slug"
layout = "default"
is_hidden = 0

==
<?
    use Rasyid\Movies\Models\Movie;
    function onStart(){
        $this['movie'] = Movie::where('slug', '=', $this->param('slug'))->first();
    }

?>
==


{% if movie %}
    <h2>{{ movie.name }}</h2>
    <br>
    <img src="{{ movie.poster.thumb(200,auto) }}">
    <br>
    <br>
    <h4>{{ movie.year }}</h4>
    <br>
    <h3>Description</h3>
    <br>
    {{movie.description|raw}}

    <div class="container">
        <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h3>
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-6">
            {% for image in movie.movie_gallery %}
                <li>
                    <a href="{{ image.path }}">
                        <img src="{{ image.thumb(80,80, {'mode':'crop'}) }}"> 
                    </a>    
                </li>
            {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <h3>Actors</h3>
    {% for actor in movie.actors %}
        {{actor.name}}
        {{actor.lastname}}
    {% endfor %}
    <br>
    <h3>Genres</h3>

    {% for genre in movie.genres %}
       <a href="{{ 'genres'|page({slug:genre.genre_title}) }}">{{ genre.genre_title }}</a><br>
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}