title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0

; Sengaja dimatikan untuk mencoba PHP Block

; [builderList]
; modelClass = "Rasyid\Movies\Models\Movie"
; scope = "-"
; scopeValue = "{{ :scope }}"
; displayColumn = "name"
; noRecordsMessage = "No records found"
; detailsPage = "movie-single"
; detailsKeyColumn = "slug"
; detailsUrlParameter = "slug"
; recordsPerPage = 3
; pageNumber = "{{ :page }}"
; ==
; {% set records = builderList.records %}
; {% set displayColumn = builderList.displayColumn %}
; {% set noRecordsMessage = builderList.noRecordsMessage %}
; {% set detailsPage = builderList.detailsPage %}
; {% set detailsKeyColumn = builderList.detailsKeyColumn %}
; {% set detailsUrlParameter = builderList.detailsUrlParameter %}


==
<?

    use Rasyid\Movies\Models\Movie;
    function onStart(){
        $this['movies'] = Movie::orderBy('year', 'desc')->paginate(20);
        // $this['name'] = Input::get('name');
        // dd($this['name']);
        //dd($this['name']);
        //$this['movies'] = Movie::where('name', 'like', $this['name'])->get();
    }

?>

==
<ul class="movie-list">
    {% for movie in movies %}
        <li>
        <h3>
            <a href="movies/movie/{{movie.slug}}">
                {{ movie.name }} - {{ movie.year }}
            </a>
        </h3>
        <br>
            {{ html_limit(movie.description, 150)|raw }}
        </li>
    {% else %}
        <li class="no-data">No Movie Found</li>
    {% endfor %}
</ul>

<div>
    {{movies.render|raw}}
</div>
==

; Pagination Sengaja dimatikan untuk mencoba PHP Block

; {% if movies.lastPage > 1 %}
;     <ul class="pagination">
;         {% if records.currentPage > 1 %}
;             <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
;         {% endif %}

;         {% for page in 1..records.lastPage %}
;             <li class="{{ records.currentPage == page ? 'active' : null }}">
;                 <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
;             </li>
;         {% endfor %}

;         {% if records.lastPage > records.currentPage %}
;             <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
;         {% endif %}
;     </ul>
; {% endif %}