<footer class="main-footer navbar-expand-lg navbar-dark bg-dark">
    <div class="container text-white">
        <h3>This is our footer</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laudantium aspernatur fugit nulla doloribus id, aliquam modi repudiandae possimus assumenda!
        </p>
    </div>
</footer>
