==
 <!-- <header class="main-header"> -->
    <!-- <div class="container clearfix"> -->
          <!-- <h1 class="logo">October Movies</h1> -->

          <!-- <nav class="main-nav">
              <!-- <ul> -->
                  <!-- <li class="{% if this.page.id == 'homepage' %} active {% endif %}"><a href="{{ 'homepage'|page }}">Home</a></li> -->
                  <!-- <li class="{% if this.page.id == 'movies' %} active {% endif %}"><a href="{{ 'movies'|page }}">Movies</a></li> -->

              <!-- </ul> -->
         <!-- </nav> -->
    <!-- </div> -->
    
<!-- alternatif navbar lain -->
<header class="main-header">
  <div class="container clearfix">
    <nav class="main-nav navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">October Movies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav text-white">
            <li class="nav-item{% if this.page.id == 'homepage' %} active {% endif %}"><a class="nav-link" href="{{ 'homepage'|page }}">Home</a></li> 
            <li class="nav-item{% if this.page.id == 'movies' %} active {% endif %}"><a class="nav-link" href="{{ 'movies'|page }}">Movies</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Updates</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="{% if this.page.id == 'add-actors' %} active {% endif %}"><a class="nav-link" href="{{ 'add-actors'|page }}">Add actors</a></li>
            <li class="{% if this.page.id == 'login' %} active {% endif %}"><a class="nav-link" href="{{ 'login'|page }}">
              {% if not user %}
              Login
              {% else %}
              My Profile
              {% endif %}
            </a></li>
            <li>
              {% if user %}
              <a class="nav-link" data-request="onLogout" data-request-data="redirect: '/ '">Sign out</a></li>
              {% endif %}            
          </ul>
        </div>
    </nav>
  </div>

</header>