{{ form_ajax('onUpdate') }}

    <div class="form-group">
        <label for="accountName">Full Name</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <div class="form-group">
        <label>Facebook</label>
        <input name="facebook" type="text" class="form-control" id="facebook" value="{{ user.facebook }}">
    </div>

    <div class="form-group">
        <label>Bio</label>
        <textarea name="bio" class="form-control" id="bio" >{{ user.bio }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save</button>

{{ form_close() }}
