<style>
    #name, #lastname 
    {
        background-color : #fff;
        color: black;
     
    }
   
    body{
	    	background-image: url("https://s1.gifyu.com/images/rampage_2018-1024x576.jpg");
	    	background-size:cover;
	    }
	    hr{
	    	background: white;	
	    }

		.contact-form{
			background: black;
			color:white;
			padding: 20px;
			box-shadow: 0px 0px 10px 3px grey;
            width: 400px;
            height: 400px;
            border-radius: 8px;
		}
        ::placeholder {
            color: #fff;
        }
        .actormessage {
            color: #fff;
        }

        @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .contact-form     {
                width: 100%;      
            }
        }
</style>

<body>
<form method="POST" action="{{ url('add-actors') }}" accept-charset="UTF8" enctype="multipart/form-data">

<input type="hidden" name="_handler" value="onSave">
{{ form_token() }}
{{ form_sessionKey() }}
<div class="container contact-form">
	<div class="row">

       <div class="col-md-12">
         <div class="form-group">
            <label>Actor name</label>
         	<input type="text" class="form-control" name="name" id="name" placeholder="Actor name">
         </div>

         <div class="form-group">
            <label>Actor lastname</label>
         	<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Actor lastname">
         </div>
        <div class="form-group">
            <label>Actor image</label>
         	<input type="file" class="form-control" name="actorimage" id="actorimage" placeholder="Actor Image">
         </div>
         <div class="form-group">
         	<button type="submit" class="btn btn-primary btn-block">Save actor</button>
         </div>

       </div>   
    </div>
    {% flash success %}
        <p class="actormessage">{{ message }}</p>
    {% endflash %}
</div>
</form>
</body>
<br>
<br>
<br>
