description = "Static layout"

[session]
security = "all"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "headermenu"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OctoberCMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ 'assets/compiled/css/style.css'|theme }}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    </head>
    <body>

        
        <header class="main-header">
            <div class="container clearfix">
                <h1 class="logo"> October Movies </h1>
                    <nav class="main-nav navbar navbar-expand-lg navbar-dark bg-dark">
                        {% component 'staticMenu' %}
                    </nav>
            </div>
        </header>
        <!-- Content -->
        <br>
        <br>
        <section id="layout-content" class="container clearfix">
            <h1>{{this.page.title}}</h1>
            {% page %}
        </section>
        
        <footer class="navbar-expand-lg navbar-dark bg-dark">
            <div class="container text-white">
                <nav class="footer-menu">

                </nav>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/compiled/js/all.js'|theme }}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

        <script type="text/javascript">

        jQuery(document).ready(function($){
            $('.contact-form2').on('ajaxError', function(event, message){
                $('.flash').removeClass('active');
                $('.flash.error').addClass('active');
            });

            $('.contact-form2').on('ajaxSuccess', function(event, message){
                $('.flash').removeClass('active');
                $('.flash.success').addClass('active');
            });
        });

        </script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>