<style>
    #name, #email, #content 
    {
        background-color : black;
        color: #fff;
     
    }
   
    body {
	    background-image: url("https://s1.gifyu.com/images/rampage_2018-1024x576.jpg");
        background-size: cover;
	}
	hr {
	    background: white;	
	}

	.contact-form {
		background: black;
		color:white;
		padding: 20px;
		box-shadow: 0px 0px 10px 3px grey;
        margin-right: 200px;
        width: 400px;
        height: 450px;
        border-radius: 8px;
	}
    ::placeholder {
        color: #fff;
    }
    .contactmessage {
        color: #fff;
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        body {
            background-image: url("https://id.bookmyshow.com/blog-hiburan/wp-content/uploads/2018/04/Rampage-2.jpg");
            background-size: cover;
            background-position: center;
        }
        .contact-form {
            width: 100%;
        }
    }
</style>

<body>
    <form data-request="contactform::onSend" class="contact-form2" data-request-validate data-request-flash>
    <div class="container contact-form">
        <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                <span data-validate-for="name">Hey! How about your input name...</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" id="email" placeholder="Your Email Address">
                <span data-validate-for="email"></span>
            </div>
            <div class="form-group">
                <textarea  class="form-control" rows="7" name="content" id="content" placeholder="Write a message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" data-attach-loading>Send</button>                  
            </div>

             <div class="alert alert-danger" data-validate-error>
                <p data-message></p>
             </div>
            <div class="flash error">
                Oopss. Something went wrong please check the required fields.
            </div>
            <div class="flash success">
                Your message has been sent. Thank you.
            </div>    
        </div>
        </div>
    </div>
              
    </form>
</body>
<br>
<br>
<br>
