/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #566b78;
}

.container{
    max-width: 40em;
    margin:0 auto;
}

*{
    box-sizing:border-box;
}

a {
  color: #e81c4f;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}
.clr{content:"test";}

.flash{
    padding: 20px;

    &.error{
        background: red;
    }
}




